html {
  box-sizing: border-box;

}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin:0px auto;
  width:auto;
  max-width: 1300px;
  

} 
.pics a{
  position:relative;
}

.pics img{
  width:420px;
  height:290px;
  padding: 0;

}

.images {
  margin:3px;
  height: 290px; 
  overflow: hidden; 
  border:1px solid rgb(179, 175, 175);

}

.images img{
  transition: transform .5s ease;


}
.pics .images:hover img{
  transform: scale(1.5);

}

.pics p{
  margin:0;
  padding: 0 10px;
  width:420px;
  height:60px;
  top:232px;
  left:4px;
  background:rgba(51,51,51,0.8);
  color:white;
  font-size: 25px;
  font-weight: 250;
  line-height: 55px;
  position:absolute;
  opacity: 1;
  
}

.alpiccontainer, .maincontainer{
  display: flex;
  flex-direction: column;
  position: relative;

}


.maincontainer{
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin:40px auto;
}

.title{
  color:white;
  padding: 0;
  margin:0;
  font-size: 50px;
  
  
}

.albums{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px auto;
  width:auto;
  max-width: 1400px;
}



.albums2, .albName{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin:30px auto;
  width:auto;
  max-width: 1300px;
  
}

.albums2{
  flex-direction: column;
}

.albums2 .arrow p.arrowleft{
text-align: center;
}


div.arrow{
  margin:auto;
  }

.albName{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

.albName p{
  width:160px;
  border: 1px solid white;
  text-align: center;
  height: 35px;
  line-height: 30px;
  margin:10px;
}



.albName p:hover{
  background-color:white;
  border:1px solid #333;
  color: #333;
  font-weight: bolder;
  position: relative;
  
}

p.arrowleft:hover{
  color:greenyellow;

}


p.arrowleft{
  border:none;
  font-size: 40px;
  margin: 0;
  padding: 0;
  width:30px;
}


.onealbum{
background:#333;
width:450px;
height:270px;
margin:5px 5px;
border:1px solid  rgb(179, 175, 175);
text-transform: uppercase;
color:white;
font-size: 40px;
font-weight: bold;
position:relative;
opacity:0.7;
 
}

.onealbum:hover{
  opacity: 1;

}

.onealbum img{
  width:448px;
  height:268px;
  margin:0;

}

a{
  text-decoration: none;  
  color:white;  
  cursor: pointer;
  padding:0;
  margin:0;
}

.onealbum p{
  margin: 0;
  position:absolute;
  top:110px;
  text-align: center;
  width:448px;
  color:white;
  text-shadow: 2px 2px black;
 
}

.picContainer{
  
  width:auto;
  margin: 70px auto;

}

.carousel{
  width: auto;
  height: auto;
  max-width:900px;
  margin:auto;
  max-height:600px;
  position: relative;
}
.carousel img{
  width: auto;
  height: auto;
  max-width:900px;
  
  max-height:600px;}

  button{
    width:40px;
    height: 40px;
    font-size: 30px;
  }

  .carousel p.picname{
    position: absolute;
    top:40px;
    right:0;
    color:white;
    padding-right:5px;
    height:20px;
    font-size: 16px;
    background-color: #222;
  }

  .carousel p.arrowl{
    color:white;
    padding: 0;
    margin:5px 0;
    font-size: 40px;
  }

 

  @media only screen and (max-width: 420px) {
    .maincontainer{
      width:420px;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }

    .onealbum{
      width:340px;
      height: 230px;
    }
    .onealbum img{
      width:338px;
      height: 228px;
    }

    .onealbum p{
      margin: 0;
      position:absolute;
      top:80px;
      left:-50px;
      text-align: center;
      width:448px;
      color:white;
      text-shadow: 2px 2px black;
     
    }

    .alpiccontainer{
      width: 420px;
      margin:0;
    }

    .albums2{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin:5px auto;
      width: 420px;
      
    }
    
    .albName{
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      justify-content: space-evenly;
      width: 380px;
    }

    .pics img{
      width: 345px;
      height:236px;
      padding: 0;
    
    }
    
    .images {
      margin:3px;
      height: 236px; 
      /* border: 3px solid orange; */
         
    }
    
    
    .pics p{
     
      width:345px;
      height:37px;
      top:200px;
      left:4px;
      font-size: 20px;
      font-weight: 250;
      line-height: 40px;
      
      
    }

    .carousel{
      width: 340px;
      height: 226px;
    }

    .carousel img{
      width: 340px;
      height: 226px;
     
    }

  }
  
  

  @media screen and (max-width:1300px) and (min-width: 1082px) {
    
    .pics img{
      width: 380px;
      height:260px;
      padding: 0;
    
    }
    
    .images {
      margin:3px;
      height: 260px; 
      /* border: 3px solid orange; */
         
    }
    
    
    .pics p{
     
      width:380px;
      height:42px;
      top:220px;
      left:4px;
      font-size: 22px;
      font-weight: 250;
      line-height: 50px;
      
      
    }
    
  }

  @media screen and (max-width:872px) and (min-width: 702px) {
    .pics img{
      width: 325px;
      height:222px;
      padding: 0;
    
    }
    
    .images {
      margin:3px;
      height: 222px; 
              
    }
    
    
    .pics p{
     
      width:325px;
      height:36px;
      top:188px;
      left:4px;
      font-size: 20px;
      font-weight: 250;
      line-height: 38px;
      
      
    }

    .carousel{
      width: 702px;
      height: 468px;
      
    }
  
    .carousel img{
      width: 702px;
      height: 468px;
     
    }

  }

  @media screen and (max-width:701px) and (min-width: 550px) {
    .carousel{
      width: 550px;
      height: 367px;
      
    }
  
    .carousel img{
      width: 550px;
      height: 367px;
     
    }

  }

  @media screen and (max-width:1082px) and (min-width: 480px) {
    .albName p{
      width:250px;
    }
    
  }





  
  